/* Centralize all the elements inside the body and change the body background color */
body {
  text-align: center;
  background-image: linear-gradient(white, #9352d9);
  padding: 3rem;
}

a {
  color: #A2D952;
}

main {
  font-family: "Exo 2", sans-serif;
}

section.introduction {
  display: flex;
  align-items: center;
}

.introduction h1 {
  font-size: 3rem;
}

.cat-image img {
  width: 15rem;
}

/* Change the span font size and color inside the paragraph tag*/
p span {
  font-weight: bold;
  background-color: black;
}

/* Add a yellow color to the span tag that has the yellow class */
span.yellow {
  color: yellow;
}

/* Add a green color to the span tag that has the green class */
span.green {
  color: green;
}